.buildings {
  font-size: 13px;
}

.buildings textarea {
  width: 250px;
  outline: 0;
  border: 1px solid #ddd;
  padding: 5px 5px;
}

.buildings .comment-list {
  margin-top: 15px;
}

.buildings .error {
  color: red;
  padding: 5px 0;
}
